body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ded9e2;
  font-family: ariel, sans-serif;
  color: navy;
  letter-spacing: 1px;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.headings {
  text-decoration: underline;
  font-weight: bold;
  font-size: 2em;
  display: block;
  margin: 20px;
}

/****** Header ******/

.main-header {
  width: 100%;
}

.logo-img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.navigation {
  text-align: center;
  margin: 20px 0;
  border: none;
}

.nav-toggle {
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle:hover {
  background-color: #80a1d4;
  color: white;
}

.navMenu {
  display: none;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
font-size: 1.2em;
}

.main-nav a {
  color: navy;
  text-decoration: none;
  margin: 5px 0;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.main-nav a:hover {
  background-color: #80a1d4;
  color: white;
}

/****** Hero ******/

.hero {
  margin-top: 10px;
  width: 100%;
  height: 400px;
  background-image: url('img/mounthood1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
}

.hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 400px;
  z-index: 0;
}

.welcome {
  color: white;
  z-index: 2;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000;
  text-align: center;
}

.register button {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(244, 244, 244, 0.8);
  margin-top: 20px;
}

/****** Sponsors ******/

.w3-content {
  color: #f4f4f4;
  height: auto;
  background-color: #33658a;
  width: 90%;
  max-width: 420px;
  padding: 0 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
}

.mySlides {
  margin: 0 auto;
}

.logos {
  height: 315px;
}

.sponsors {
  display: none;
}

.sponsors li {
  list-style: none;
  margin-top: 20px;
  border-bottom: 2px solid rgba(9, 68, 157, 0.8);
}

.sponsor-level {
  text-decoration: underline;
  text-transform: uppercase;
  color: rgb(152, 187, 55);
}

/****** Content ******/
.content-container {
  margin: 1em 1em;
  line-height: 1.6em;
}

#hosts {
  text-decoration: underline;
}

.conf-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
}

/****** Schedule ******/

.schedule-container {
  width: 90%;
  margin: 0 auto;
}

.schedule-container td {
  border: 1px solid black;
}

.conf-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

          padding: 0 1em;
}

.table-heading td {
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.schedule-time {
  width: 50px;
  border: 1px solid black;
}

.schedule-topic {
  text-align: center;
  padding: 10px;
}

/* .conf-schedule td {
  display: inline-block;
  padding: 0 20px;
} */
/****** Media Queries ******/

/* Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 500px) {

    .navigation {
      display: none;
    }
    
    .navMenu {
      display: block;
    }

    .main-nav {
    margin-top: 20px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: distribute;
                justify-content: space-around;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
  }

  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .sponsors {
    display: block;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .logos {
    height: 295px;
  }

  .conf-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: distribute;
                justify-content: space-around;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
  }



 }
